banner{
    background-position: center;
    background-image: url(https://c1.wallpaperflare.com/preview/205/692/918/writing-the-scriptures-lectio-divina.jpg);
    height: 48px;
    width: 700px;
}

.banner {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://c1.wallpaperflare.com/preview/205/692/918/writing-the-scriptures-lectio-divina.jpg);
  
    /* Set a specific height */
    height: 50%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    color: rgb(242, 238, 229);
  }



.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left-section {
    text-align: center;
    left: 0;
    background-color: aliceblue;
    width: 50%;
    float: left;
}

.right-section {
    text-align: center;
    right: 0;
    background-color: beige;
    width: 50%;
    float: right;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(239, 227, 148);
    color: black;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}